<header (click)="closePopUps()" class="m-0 p-2 flex gap-2 medium:p-5 w-[100vw] flex-col small:flex-row bg-slate-950 justify-between content-center">
    
    <div class="flex medium:justify-between items-center gap-2">
        
        <img src="../../assets/icons/hamburgermenu.png" class="h-auto w-12 medium:hidden">
        <img src="../../assets/icons/plates.png" class="h-auto w-12 hidden medium:block">
        <p class="text-gray-300 font-bebas text-3xl medium:text-4xl mx-auto">Strength and Steel</p>

    </div>
    <hr class="border-t-2 border-red-500 small:hidden">
    <div class="flex justify-center medium:justify-between items-center gap-2">
        <input class="p-1 w-72 text-lg font-bebas placeholder-gray-50/25 rounded-md text-gray-300 bg-slate-800 focus:outline-none border-transparent border-2 focus:border-slate-600 focus:border-2" placeholder="Search" type="text" >
        <button class="font-bebas text-xl text-gray-300 p-2 hover:text-gray-100">Search</button>
    </div>
    <!--add box that shows preview items when typed-->
    <div class="justify-between items-center gap-4 hidden medium:flex">
        
        <div class="flex relative">
            <img (click)="toggleCart($event)" src="../../assets/icons/bag.png" class="h-auto w-12 relative z-19"> 
            
        
            <div (click)="$event.stopPropagation()" class="absolute top-16 -left-20 transition duration-300 bg-slate-800 shadow-2xl z-20 
            border-0 border-t-4 
        border-red-700 flex-col min-w-40 h-auto rounded-xl justify-between p-10"
        [class.opacity-0]="!expandCart" [class.pointer-events-none]="!expandCart">
    
                <p  class="font-exo2 text-xl text-gray-300 hover:font-bold">Profile</p>
                <p class="font-exo2 text-xl text-gray-300 hover:font-bold">Orders</p>
                <p  class="font-exo2 text-xl text-gray-300 hover:font-bold">Log Out</p>
    
            </div>
            
        </div>

        <div class="flex relative">
            <img (click)="toggleProfile($event)" src="../../assets/icons/user.png" class="h-auto w-14 relative z-19">

            
                <div (click)="$event.stopPropagation()" class="absolute top-16 -left-24 transition duration-300 bg-slate-800 shadow-2xl z-20 
                border-0 border-t-4 
            border-red-700 flex-col min-w-40 h-auto rounded-xl justify-between p-10"
            [class.opacity-0]="!expandProfile" [class.pointer-events-none]="!expandProfile">
        
                    <p  class="font-exo2 text-xl text-gray-300 hover:font-bold">Profile</p>
                    <p class="font-exo2 text-xl text-gray-300 hover:font-bold">Orders</p>
                    <p  class="font-exo2 text-xl text-gray-300 hover:font-bold">Log Out</p>
        
                </div>
                
            
        </div>
        @if (expandProfile || expandCart) {
            <div (click)="closePopUps()" class="fixed inset-x-0 top-24 z-10 h-[100vh] w-auto"></div>
        }
        
    </div>

</header>
