<header (click)="closePopUps()" class="m-0 p-2 flex gap-2 medium:p-5 w-[100vw] flex-col small:flex-row bg-slate-950 justify-between content-center">
    
    <!--Left most side header items, hamburger menu, logo-->

    <div class="flex medium:justify-between items-center gap-2"> 
        
        <div class="flex relative medium:hidden p-0 m-0">
            
            <img (click)="openHamburger()" src="../../assets/icons/hamburgermenu.png" class="h-auto w-12 cursor-pointer">

            <div class="fixed inset-y-0 left-0 z-50 transition-all duration-200 h-[100vh] w-[60vw] bg-slate-700
            flex flex-col gap-4 p-2 pl-6 py-10"
            [class.opacity-0]="!expandHamburger" [class.pointer-events-none]="!expandHamburger">

                <p [routerLink]="['/cart']" class="font-exo2 text-3xl text-gray-300 hover:font-bold">Cart</p>
                <p [routerLink]="['/profile']" class="font-exo2 text-3xl text-gray-300 hover:font-bold">Profile</p>
                <p [routerLink]="['/orders']" class="font-exo2 text-3xl text-gray-300 hover:font-bold">Orders</p>
                <p [routerLink]="['/wishlist']" class="font-exo2 text-3xl text-gray-300 hover:font-bold">Wishlist</p>
                
                @if (userData.userName().length != 0) {
                    <p (click) = "logout()" class="font-exo2 text-3xl text-gray-300 hover:font-bold mt-auto">Log Out</p>
                }
                

            </div>

            <div (click)="closeHamburger()" class="fixed inset-0 z-40 transition-all duration-200 bg-black/50"
            [class.opacity-0]="!expandHamburger" [class.pointer-events-none]="!expandHamburger">

            </div>

        </div>

        <div [routerLink]="['/home']" class="p-0 m-0 flex gap-2 justify-between content-center cursor-pointer">
            <img  src="../../assets/icons/plates.png" class="h-auto w-12 hidden medium:block">
            <p class="mt-1 text-gray-300 font-bebas text-3xl medium:text-4xl mx-auto">Strength and Steel</p>
        </div>

    </div>
    
    

    <hr class="border-t-2 border-red-500 small:hidden">


    <!--Center items, search bar-->

    @if (!router.url.startsWith('/search/')){
        <div class="flex justify-center medium:justify-between items-center extraSmall:gap-2">
            
            <div class="relative">
                <input (click)="openSearchBox($event)" class="p-1 w-56 extraSmall:w-72 text-lg font-bebas 
                placeholder-gray-50/25 rounded-md text-gray-300 bg-slate-800 focus:outline-none 
                border-transparent border-2 focus:border-slate-600 focus:border-2" placeholder="Search" type="text" 
                [(ngModel)] = "searchTerm" (keydown.enter)="search(undefined)" (input)="preFetch()">
            
                <div  class="absolute top-12 transition-all duration-300 bg-slate-800 shadow-2xl z-30 
                border-0 border-t-4 
                border-red-700 flex flex-col gap-2 w-56 extraSmall:w-72 h-max rounded-xl justify-between p-1 py-5
                max-h-96 overflow-y-scroll"
                [class.opacity-0]="!expandSearch" [class.pointer-events-none]="!expandSearch">
            
                @for (item of searchList(); track $index) {
                    
                    <p [routerLink]="['/product',item.productId]" class="px-5 py-1 w-auto cursor-pointer font-exo2 text-xl text-gray-300 hover:font-bold">{{item.productName}}</p>

                    @if ($index != searchList().length - 1) {
                        <hr class="mx-5 border-t-2 border border-red-500">
                    }

                }
                
        
            </div>

            
            </div>

            <button (click)="search($event)" class="font-bebas text-xl text-gray-300 p-2 hover:text-gray-100">Search</button>

            
        </div>

    }

    <!--Right side items, cart, profile-->


    <div class="justify-between items-center gap-4 hidden medium:flex">
        
        <div class="flex relative">
            <img (click)="toggleCart($event)" src="../../assets/icons/bag.png" class="h-auto w-12 relative z-20"> 
            
            @if (cartList().length > 0) {
                <div class="absolute rounded-full bg-yellow-300 h-5 w-5 flex justify-center content-center z-30">
                    <p class="font-bebas text-sm">{{cartList().length}}</p>
                </div>
                
            }
                
        
            <div [routerLink]="['/cart']" (click)="$event.stopPropagation()" class="absolute top-16 -left-36 transition-all duration-300 bg-slate-800 shadow-2xl z-30 
            border-0 border-t-4 
        border-red-700 flex flex-col w-64 h-auto rounded-xl justify-between p-5"
        [class.opacity-0]="!expandCart" [class.pointer-events-none]="!expandCart">
    
                <p  class="font-exo2 text-3xl text-gray-300">Cart</p>
                
                @for (item of cartList(); track $index) {

                    <div class="flex justify-between">
                        <p class="font-exo2 text-xl text-gray-300 truncate mr-3">{{item.product.productName}}</p>
                        <p class="font-exo2 text-xl text-gray-300">{{item.product.price}}*{{item.quantity}}</p>
                    </div>
    
                    <hr class="border-t-2 border border-red-500">
                    
    
                }@empty {
                    <p class="font-exo2 text-xl text-gray-300">Empty!</p>
                }
                @if (cartList().length != 0) {
                    <div class="flex justify-between">
                        <p class="font-exo2 text-xl text-gray-300 truncate mr-3">Total:</p>
                        <p class="font-exo2 text-xl text-gray-300">{{cartSum}}</p>
                    </div>
                    
                }
                
    
            </div>
            
        </div>

        <div class="flex relative">
            <img (click)="toggleProfile($event)" src="../../assets/icons/user.png" class="h-auto w-14 relative z-20">

            
                <div (click)="$event.stopPropagation()" class="absolute top-16 -left-24 transition-all duration-300 bg-slate-800 shadow-2xl z-30 
                border-0 border-t-4 
            border-red-700 flex flex-col min-w-40 h-auto rounded-xl justify-between p-10 py-5"
            [class.opacity-0]="!expandProfile" [class.pointer-events-none]="!expandProfile">
        
                    <p [routerLink]="['/profile']" class="font-exo2 text-xl text-gray-300 hover:font-bold">Profile</p>
                    <p [routerLink]="['/orders']" class="font-exo2 text-xl text-gray-300 hover:font-bold">Orders</p>
                    <p [routerLink]="['/wishlist']" class="font-exo2 text-xl text-gray-300 hover:font-bold">Wishlist</p>
                    <p [routerLink]="['/support']" class="font-exo2 text-xl text-gray-300 hover:font-bold">Support</p>
                    
                    @if (userData.userName().length != 0) {
                        <p (click)="logout()" class="font-exo2 text-xl text-gray-300 hover:font-bold">Log Out</p>
                    }

                </div>
                
            
        </div>
        @if (expandProfile || expandCart || expandSearch) {
            <div (click)="closePopUps()" class="fixed inset-0 top-24 z-10 h-[100vh] w-auto"></div>
        }
        
    </div>

</header>
