<footer class="flex flex-col bg-slate-950 min-h-[10vh] p-10">



    <div class="flex justify-center">
        <img  src="../../assets/icons/plates.png" class="h-auto w-12 hidden medium:block">
        <p class="mt-1 text-gray-300 font-bebas text-3xl medium:text-4xl">Strength and Steel</p>
    </div>
    
    <p class="mx-auto text-gray-300 font-exo2">© 2024 SAS Fitness</p>

    <p class="mx-auto mt-1 cursor-pointer text-slate-700 hover:text-slate-500"
            [routerLink]="['/register/vendor']">Looking to sell items? Click here!</p>
    
</footer>
