
<!--
<p>You are looking at {{productId}}</p>
@for (item of imageList(); track i; let i = $index) {
    <img [src]="apiService.backendURL + 'images/product/' + productId + '/' + imageList()[i]" alt="image {{i}}">
    
}-->
<app-toast [success]="toastSuccess()" [message]="toastMessage()" [visible]="toastVisible()"></app-toast>

<section class="min-h-[90vh] font-exo2 flex flex-col small:p-5 bg-slate-200 gap-10">

    <div class="flex py-10 flex-col medium:flex-row w-auto bg-slate-300 rounded-xl small:mx-10
    medium:mt-5 small:p-16 items-center medium:items-start justify-around gap-5">
        
    
        <div class="flex w-64 h-64 extraSmall:w-80 extraSmall:h-80 medium:w-96 medium:h-96 overflow-hidden relative justify-center
        ">

            @if (imageList().length > 0) {
                <img src="../../assets/icons/right.png" class="absolute rounded-2xl w-14 h-14 bg-slate-300/50
                right-0 top-[50%] hover:bg-slate-400/70 basis-1/2" (click)="nextImg()">

                <img [src]="productImageLink +
                productId() + '/' + imageList()[currImage]" alt="image {{currImage}}"
                class="transition-all h-auto w-auto rounded-2xl object-cover">

                <img src="../../assets/icons/left.png"  class="absolute rounded-2xl w-14 h-14 bg-slate-300/50
                left-0 top-[50%] hover:bg-slate-400/70" (click)="prevImg()">
            }
        </div>

        <div class="flex flex-col basis-1/3 gap-4 items-center medium:items-start">

            <p class="px-4 extraSmall:px-0 font-bebas text-5xl medium:text-5xl text-left large:text-6xl">{{productData()?.productName}}</p>
            
            <div class="flex flex-col pl-5 medium:pt-4 gap-4 items-center medium:items-start">
                <p class="font-exo2 text-xl hover:text-black/70 cursor-pointer"
                [routerLink]="['/vendorpage/' + productData()?.vendorId]">Sold by: {{productData()?.vendorName}}</p>
                
                <div class="flex flex-col extraSmall:flex-row gap-2 items-center medium:items-start medium:flex-col large:flex-row">

                    <p class="extraSmall:order-1">{{productData()?.averageRating?.toFixed(2)??"No Reviews"}}</p>
                    <app-rating-stars [useProductData]="true" [productData]="productData"></app-rating-stars>

                </div>
                
                <p class="font-bebas font-bold text-2xl">{{formatToIndianCurrency(productData()?.price)}}</p>

                <div class="flex flex-col large:flex-row gap-2">
                    <div class="flex w-max text-4xl medium:text-3xl rounded-xl items-center">
                        <button  (click)="decrement()" class="bg-slate-200 hover:bg-slate-400 rounded-l-xl p-2 medium:h-14">-</button>
                        <p class="bg-slate-200 p-2 text-center w-20 medium:h-14">{{itemCount}}</p>
                        <button (click)="increment()" class="bg-slate-200 hover:bg-slate-400 rounded-r-xl p-2 medium:h-14">+</button>
                    </div>

                    <button (click)="addToCart()" class="bg-red-500 hover:bg-red-600 text-2xl p-3 rounded-xl w-max">Add to Cart</button>
                </div>
                <p class="text-left">{{productData()?.description}}</p>
                
                @if (productData()?.stock ?? 0 > 0) {
                    <p class="text-left font-bold font-bebas">{{productData()?.stock}} Left!</p>
                }@else {
                    <p class="text-left font-bold font-bebas">Out of Stock!</p>
                }
                

            </div>
        </div>

        
        
        
    </div>

    <div class="flex py-10 flex-col w-auto bg-slate-300 rounded-xl small:mx-10
    medium:mt-5 small:p-16 items-center medium:items-start justify-around gap-5 pb-20">

        <p class="ml-4 text-4xl text-left mr-auto font-bebas">Similar products</p>

        <div class="mx-auto mt-5 extraSmall:mt-0 py-10 grid grid-cols-2 gap-4
        medium:flex medium:flex-row medium:items-center extraSmall:bg-slate-200 relative w-[90%]
        small:w-[100%] extraSmall:p-10 rounded-xl medium:justify-between">

            <img src="../../assets/icons/right.png" class="absolute rounded-2xl w-14 h-14 bg-slate-300/50
                right-0 -top-4 extraSmall:top-[50%] hover:bg-slate-400/70 z-10" (click)="nextProductPage()">

            <img src="../../assets/icons/left.png"  class="absolute rounded-2xl w-14 h-14 bg-slate-300/50
            left-0 -top-4 extraSmall:top-[50%] hover:bg-slate-400/70 z-10" (click)="prevProductPage()">

            @for (item of similarProducts(); track $index) {
                
                @if (item.productId != productId()) {
                    <app-product-card [expanded]="false" [productData]="item"></app-product-card>
                }@else {
                    <app-product-card [thisProd]="true" [expanded]="false" [productData]="item"></app-product-card>
                }

            }@empty {
                @if (similarPageNo() == 0) {
                    <p class="whitespace-nowrap text-start text-2xl medium:text-4xl mx-auto">No items found!</p>
                }@else {
                    <p class="whitespace-nowrap text-start text-2xl medium:text-4xl mx-auto">No more items!</p>
                }
                
            }
        </div>

    </div>

    <div class="flex py-10 flex-col w-auto bg-slate-300 rounded-xl small:mx-10
    medium:mt-5 small:p-16 medium:items-start justify-around gap-5 pb-20">

        <p class="ml-4 text-4xl text-left mr-auto font-bebas">User Reviews</p>
        <p class="ml-4 text-2xl text-left mr-auto font-bebas">Sort By</p>

        <div class="flex px-6 medium:w-[100%] justify-between">
            <button class="rounded-2xl hover:bg-green-100 p-3 w-28"
            [ngClass]="{'bg-green-200 text-black': byDate, 'bg-slate-700 text-white': !byDate}"
            (click)="setByDate(true)">Date</button>
            <button class="rounded-2xl hover:bg-green-100 p-3 w-28"
            [ngClass]="{'bg-green-200 text-black': !byAscending, 'bg-slate-700 text-white': byAscending}"
            (click)="setByAscending(false)">{{orderText[0]}}</button>
            
        </div>
        <div class="flex px-6 medium:w-[100%] justify-between">
            <button class="rounded-2xl hover:bg-green-100 p-3 w-28"
            [ngClass]="{'bg-green-200 text-black': !byDate, 'bg-slate-700 text-white': byDate}"
            (click)="setByDate(false)">Rating</button>
            <button class="rounded-2xl hover:bg-green-100 p-3 w-28"
            [ngClass]="{'bg-green-200 text-black': byAscending, 'bg-slate-700 text-white': !byAscending}"
            (click)="setByAscending(true)">{{orderText[1]}}</button>
        </div>

        <div class="flex flex-col p-3 medium:w-[100%]">
            
            @for (item of userReviews(); track $index) {
                <app-review-card [reviewData]="item"
                class="my-3"></app-review-card>
            }@empty {
                @if (reviewPageNo() == 0) {
                    <p class="whitespace-nowrap text-start text-2xl medium:text-4xl mx-auto">No Reviews found!</p>
                }@else {
                    <p class="whitespace-nowrap text-start text-2xl medium:text-4xl mx-auto">No more reviews!</p>
                }
                
            }

            <div class="mt-6 flex gap-3">
                <button (click)="prevReviewPage()" class="text-white rounded-2xl hover:bg-slate-600 bg-slate-700 p-3 w-24">Previous</button>
                <button (click)="nextReviewPage()" class="text-white rounded-2xl hover:bg-slate-600 bg-slate-700 p-3 w-24">Next</button>
            </div>
        </div>
        

    </div>
    

</section>