<section class="min-h-[90vh] font-exo2 flex flex-col small:p-5 bg-slate-200 gap-10">

    <div class="flex flex-col items-center p-5 gap-6 medium:flex-row large:pt-20 large:px-[5%]">
        
        <p class="text-4xl font-bebas">{{welcomeMessage()}}</p>

    </div>
    
    
    <div class="flex py-10 flex-col w-auto bg-slate-300 rounded-xl small:mx-10
    medium:mt-5 small:p-16 items-center medium:items-start justify-around gap-5 pb-20">

        <p class="ml-4 text-4xl text-left mr-auto font-bebas">New Items!</p>

        <div class="mx-auto mt-5 extraSmall:mt-0 py-10 grid grid-cols-2 gap-4
        medium:flex medium:flex-row medium:items-center extraSmall:bg-slate-200 relative w-[90%]
        small:w-[100%] extraSmall:p-10 rounded-xl medium:justify-between">

            <img src="../../assets/icons/right.png" class="absolute rounded-2xl w-14 h-14 bg-slate-300/50
                right-0 -top-4 extraSmall:top-[50%] hover:bg-slate-400/70 z-10" (click)="nextLatestPage()">

            <img src="../../assets/icons/left.png"  class="absolute rounded-2xl w-14 h-14 bg-slate-300/50
            left-0 -top-4 extraSmall:top-[50%] hover:bg-slate-400/70 z-10" (click)="prevLatestPage()">

            @for (item of latestList(); track $index) {
                
                <app-product-card [expanded]="false" [productData]="item"></app-product-card>
                

            }@empty {
                @if (latestPageNo() == 0) {
                    <p class="whitespace-nowrap text-start text-2xl medium:text-4xl mx-auto">No items found!</p>
                }@else {
                    <p class="whitespace-nowrap text-start text-2xl medium:text-4xl mx-auto">No more items!</p>
                }
                
            }
        </div>

    </div>


    <div class="flex py-10 flex-col w-auto bg-slate-300 rounded-xl small:mx-10
    medium:mt-5 small:p-16 items-center medium:items-start justify-around gap-5 pb-20">

        <p class="ml-4 text-4xl text-left mr-auto font-bebas">Explore {{randomCategory()?.name}}!</p>
        <p></p>

        <div class="mx-auto mt-5 extraSmall:mt-0 py-10 grid grid-cols-2 gap-4
        medium:flex medium:flex-row medium:items-center extraSmall:bg-slate-200 relative w-[90%]
        small:w-[100%] extraSmall:p-10 rounded-xl medium:justify-between">

            <img src="../../assets/icons/right.png" class="absolute rounded-2xl w-14 h-14 bg-slate-300/50
                right-0 -top-4 extraSmall:top-[50%] hover:bg-slate-400/70 z-10" (click)="nextRandomPage()">

            <img src="../../assets/icons/left.png"  class="absolute rounded-2xl w-14 h-14 bg-slate-300/50
            left-0 -top-4 extraSmall:top-[50%] hover:bg-slate-400/70 z-10" (click)="prevRandomPage()">

            @for (item of randomList(); track $index) {
                
                <app-product-card [expanded]="false" [productData]="item"></app-product-card>
                

            }@empty {
                @if (randomPageNo() == 0) {
                    <p class="whitespace-nowrap text-start text-2xl medium:text-4xl mx-auto">No items found!</p>
                }@else {
                    <p class="whitespace-nowrap text-start text-2xl medium:text-4xl mx-auto">No more items!</p>
                }
                
            }
        </div>

    </div>

    
    @if (userDataService.userEmail() == "") {
        <p class="text-4xl mr-auto font-bebas text-center my-20 mx-auto">Log In For Personalized Recommendations!</p>
    }@else {

        <div class="flex py-10 flex-col w-auto bg-slate-300 rounded-xl small:mx-10
        medium:mt-5 small:p-16 items-center medium:items-start justify-around gap-5 pb-20">

            <p class="ml-4 text-4xl text-left mr-auto font-bebas">Recommended For you!</p>
            <p class="ml-4 text-4xl text-left mr-auto font-bebas">From your favorite vendor</p>

            <div class="mx-auto mt-5 extraSmall:mt-0 py-10 grid grid-cols-2 gap-4
            medium:flex medium:flex-row medium:items-center extraSmall:bg-slate-200 relative w-[90%]
            small:w-[100%] extraSmall:p-10 rounded-xl medium:justify-between">

                <img src="../../assets/icons/right.png" class="absolute rounded-2xl w-14 h-14 bg-slate-300/50
                    right-0 -top-4 extraSmall:top-[50%] hover:bg-slate-400/70 z-10" (click)="nextPersonalizedPage()">

                <img src="../../assets/icons/left.png"  class="absolute rounded-2xl w-14 h-14 bg-slate-300/50
                left-0 -top-4 extraSmall:top-[50%] hover:bg-slate-400/70 z-10" (click)="prevPersonalizedPage()">

                @for (item of personalizedList(); track $index) {
                    
                    <app-product-card [expanded]="false" [productData]="item"></app-product-card>
                    

                }@empty {
                    @if (personalizedPageNo() == 0) {
                        <p class="whitespace-nowrap text-start text-2xl medium:text-4xl mx-auto">No items found!</p>
                    }@else {
                        <p class="whitespace-nowrap text-start text-2xl medium:text-4xl mx-auto">No more items!</p>
                    }
                    
                }
            </div>
        
        </div>
    }

</section>
